body{
    background: linear-gradient(to bottom,#ff99cc,#e64949);
    margin:0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.conteiner{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 3em;
    color: rgb(255, 0, 0);
    margin-top: 70px;
    text-align: center;
}
.imagens{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 50px;
}
.imagens img {
    width: 300px;
    height: 440px;
    object-fit: cover;
    margin: 50px;
    border-radius: 80%;
    border: 5px solid rgb(155, 7, 76);
    box-shadow: 2px 2px 5px rgva(3,3,3,3.3) ;
}
.textos{
    margin-top: 50px;
}
.textos p {
    font-size:1.5em;
    line-height: 1.5;
    color:white
}